{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{% static "js/datamaps.world.min.js" %}"></script>

<script src="https://d3js.org/d3-zoom.v1.min.js"></script>

<style type="text/css">
    #paper-infos {
        position: fixed;
        top: 0px;
        background-color: #1A537F; 
        padding: 10px;
        text-align: center;
        color: white;
        width: 100%;
        height: 65px;
    }
    #paper-infos > span {
        color: #FFFFFF;
    }
    .tag {
        padding: 1px 6px;
        color: black !important;
        background-color: #FFE74C; 
        margin-left: 3px;
        border-radius: 2px;
    }
    #graph-container, #map-container, #graph-container svg {
        width: 100vw;
        height: calc(100vh - 65px);
    }

    #graph-container {
        margin-top: 65px;
    }
    #map-container {

    }
    div.tooltip {   
        position: absolute;         
        text-align: center;         
        width: 360px;                   
        padding: 2px;               
        font: 12px sans-serif;      
        background: lightsteelblue; 
        border: 0px;        
        border-radius: 8px;         
        pointer-events: none;           
    }
</style>

<div id="graph-container">
    <svg xmlns="http://www.w3.org/2000/svg"></svg>
</div>
<div id="map-container">

</div>

<div id="paper-infos">
    <span>Les fourmis de Katmandou</span>
    <br>
    <span class="tag">fourmis</span><span class="tag">katmandou</span><span class="tag">népal</span>
</div>

<script>
    const COLOR_PREV = '#FF5964';
    const COLOR_CURR = '#FFE74C';
    const COLOR_NEXT = '#6BF178';
    const COLOR_PRIMARY = "#1A537F";
    const CIRCLE_STROKE = 3;

    var data = {
       prev: [{
        name: "Implementation of the data-flow synchronous language SIGNAL", 
        author: "Pascalin Amagbégnon , Loïc Besnard , Paul Le Guernic",
        year: "1995",
        keywords: ""
       }, {
        name: "Alma-O: an imperative language that supports declarative programming", 
        author: "Krzysztof R. Apt , Jacob Brunekreef , Vincent Partington , Andrea Schaerf", 
        year: "1998",
        keywords: "Laguages, declarative programming, imperative programming, search"
       }, {
        name: "The synchronous languages 12 years later",
        author: "A., Caspi, P., Edwards, S. A., Halbwachs, N., Guernic, P. L., Robert, and Simone, D",
        year: "2003",
        keywords: "Embedded systems, Esterel, formal methods, Lustre, real-time systems, Signal, synchronous languages"
       }],
       curr: [{
         name: "A Survey on Reactive Programming",
         author: "Engineer Bainomugisha , Andoni Lombide Carreton,Tom van Cutsem, Stijn Mostinckx, Wolfgang de Meuter", 
         year: "2013",
         keywords: "Design, Languages, Reactive programming, interactive applications, event-driven applications, dataflow programming, functional reactive programming, reactive systems"
       }],
       next: [ {
         name: "Multi-Tier Functional Reactive Programming for the Web", 
         author: "Bob Reynders , Dominique Devriese , Frank Piessens",
         year: "2014",
         keywords: "Functional Reactive Programming, FRP, Multitier Web Framework"
       }, {
        name:"Reactive programming with reactive variables",
        author: "Christopher Schuster , Cormac Flanagan", 
        year: "2016", 
        keywords: "Reactive Programming, Syntax Extension, JavaScript"
       
       }]
     };

    var c10 = d3.scale.category10();
    var svg = d3.select("#graph-container svg");

    svg.append('svg:defs').append('svg:marker')
    .attr('id', 'mid-arrow')
    .attr('viewBox', '0 -5 10 10')
    .attr('refX', 6)
    .attr('markerWidth', 10)
    .attr('markerHeight', 10)
    .attr('orient', 'auto')
    .append('svg:path')
    .attr('d', 'M0,-5L10,0L0,5L6,0')
    .attr('fill', '#000');

    var container_width = parseInt(window.getComputedStyle(svg[0][0], null).getPropertyValue("width"));
    var container_height = parseInt(window.getComputedStyle(svg[0][0], null).getPropertyValue("height"));
    var mid_width = container_width/2;
    var mid_height = container_height/2;

    var dot_radius = 40;
    var dot_space = 100;
    var col_offset = 400;

    var left_column_offset = ((container_height-((data.prev.length-1)*dot_space)-dot_radius*2)/2)-(dot_radius*1.5);
    var right_column_offset = ((container_height-((data.next.length-1)*dot_space)-dot_radius*2)/2)-(dot_radius*1.5);

    var tooltip = d3.select("body").append("div")   
    .attr("class", "tooltip")               
    .style("opacity", 0);

    var y = left_column_offset;
    var links = svg.selectAll("link")
    .data(data.prev)
    .enter()
    .append("line")
    .attr("class", "link")
    .attr("x1", function(l) {
        y = y+dot_space;
        d3.select(this).attr("y1", y);
        return mid_width-col_offset;
    })
    .attr("x2", function(l) {
        const x1 = parseInt(d3.select(this).attr("x1"));
        const y1 = parseInt(d3.select(this).attr("y1"));
        d3.select(this).attr("y2", y1+(mid_height-y1)/2);
        return x1+(col_offset/2);
    })
    .attr("fill", "none")
    .attr("stroke", "black")
    .attr("marker-end", 'url(#mid-arrow)');

    var y = left_column_offset;
    var links = svg.selectAll("link")
    .data(data.prev)
    .enter()
    .append("line")
    .attr("class", "link")
    .attr("x1", function(l) {
        y = y+dot_space;
        d3.select(this).attr("y1", y+(mid_height-y)/2);
        return mid_width-(col_offset/2);
    })
    .attr("x2", function(l) {
        d3.select(this).attr("y2", mid_height);
        return mid_width;
    })
    .attr("fill", "none")
    .attr("stroke", "black")

    var y = right_column_offset;
    var links = svg.selectAll("link")
    .data(data.next)
    .enter()
    .append("line")
    .attr("class", "link")
    .attr("x1", function(l) {
        d3.select(this).attr("y1", mid_height);
        return mid_width;
    })
    .attr("x2", function(l) {
        y = y + dot_space;
        d3.select(this).attr("y2", mid_height+(mid_height-y)/2);
        return mid_width+(col_offset/2);
    })
    .attr("fill", "none")
    .attr("stroke", "black")
    .attr("marker-end", 'url(#mid-arrow)');

    var y = right_column_offset;
    var links = svg.selectAll("link")
    .data(data.next)
    .enter()
    .append("line")
    .attr("class", "link")
    .attr("x2", function(l) {
        y = y+dot_space;
        d3.select(this).attr("y2", y);
        return mid_width+col_offset;
    })
    .attr("x1", function(l) {
        const y2 = parseInt(d3.select(this).attr("y2"));
        d3.select(this).attr("y1", mid_height-(mid_height-y2)/2);
        return mid_width+(col_offset/2);
    })
    .attr("fill", "none")
    .attr("stroke", "black")

    // NODES

    var y = left_column_offset;
    svg.selectAll("node")
    .data(data.prev)
    .enter()
    .append("circle")
    .attr("class", "prev-node node")
    .attr("cx", mid_width-col_offset)
    .attr("cy", function(d) {
        y = y+dot_space;
        return y
    }.bind(y))
    .attr("r", dot_radius)
    .attr("fill", COLOR_PREV)
    .attr("stroke", "black")
    .attr("stroke-width", CIRCLE_STROKE)
    .on("mouseover", function(d) {
        d3.select(this).style("cursor", "pointer");      
        tooltip.transition()        
            .duration(200)      
            .style("opacity", .9);      
        tooltip .html("<b>"+d.name+"</b>")  
            .style("left", (d3.select(this).attr("cx")) + "px")     
            .style("top", (d3.select(this).attr("cy")) + "px");    
        })
    .on("mouseout", function(d) {
        d3.select(this).style("cursor", "default");     
        tooltip.transition()        
            .duration(500)      
            .style("opacity", 0);   
        });

    svg.selectAll("node")
    .data(data.curr)
    .enter()
    .append("circle")
    .attr("class", "curr-node node")
    .attr("cx", mid_width)
    .attr("cy", mid_height)
    .attr("r", dot_radius)
    .attr("fill", COLOR_CURR)
    .attr("stroke", "black")
    .attr("stroke-width", CIRCLE_STROKE)
    .on({
        "click": function(d) {
            var speed = 750; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $("#map-container").offset().top }, speed ); 
        },
        "mouseover": function(d) {
            d3.select(this).style("cursor", "pointer");
            tooltip.transition()        
                .duration(200)      
                .style("opacity", .9);      
            tooltip .html(d.name)  
                .style("left", (d3.select(this).attr("cx")) + "px")     
                .style("top", (d3.select(this).attr("cy")) + "px"); 
        },
        "mouseout": function(d) {
            d3.select(this).style("cursor", "default");
            tooltip.transition()        
                .duration(500)      
                .style("opacity", 0);
        }
    });

    var y = right_column_offset;
    svg.selectAll("node")
    .data(data.next)
    .enter()
    .append("circle")
    .attr("class", "next-node node")
    .attr("cx", mid_width+col_offset)
    .attr("cy", function(d) {
        y = y+dot_space;
        return y
    }.bind(y))
    .attr("r", dot_radius)
    .attr("fill", COLOR_NEXT)
    .attr("stroke", "black")
    .attr("stroke-width", CIRCLE_STROKE)
    .on({
        "mouseover": function(d) {  
            d3.select(this).style("cursor", "pointer");    
            tooltip.transition()        
                .duration(200)      
                .style("opacity", .9);      
            tooltip .html(d.name)  
                .style("left", (d3.select(this).attr("cx")) + "px")     
                .style("top", (d3.select(this).attr("cy")) + "px");    
        },
        "mouseout": function(d) {    
            d3.select(this).style("cursor", "default"); 
            tooltip.transition()        
                .duration(500)      
                .style("opacity", 0);   
        }
    });

    //#### MAP ####

    var map = new Datamap({
        element: document.getElementById('map-container'),
        responsive: true,
        fills: {
            'prev': COLOR_PREV,
            'curr': COLOR_CURR,
            'next': COLOR_NEXT,
            defaultFill: COLOR_PRIMARY
        },
    });
    window.addEventListener('resize', function() {
        map.resize();
    });

    var bombs = [{
        radius: 12,
        location: 'Université Libre de Bruxelles',
        fillKey: 'prev',
        borderWidth: 1,
        paper: "Les fourmis c'est vraiment cool.",
        date: '1953-08-12',
        latitude: 50.813102, 
        longitude: 4.383510,
        fillOpacity: 1.0
      },
      {
        radius: 12,
        location: 'Université de Toronto',
        fillKey: 'next',
        borderWidth: 1,
        paper: "Un four et de la mie.",
        date: '1953-08-12',
        latitude: 43.662220,
        longitude: -79.395141,
        fillOpacity: 1.0
      },
      {
        radius: 12,
        location: 'Kathmandu University School of Management',
        fillKey: 'curr',
        borderWidth: 1,
        paper: "Les fourmis de Katmandou.",
        date: '1953-08-12',
        latitude: 27.669768, 
        longitude: 85.333947,
        fillOpacity: 1.0
      },
    ];
    map.bubbles(bombs, {
        popupTemplate: function (geo, data) {
                return ['<div class="hoverinfo">' +  data.paper + '<br>',
                data.date + "<br>" + data.location,
                '</div>'].join('');
        }
    });
</script>

{% endblock content %}