{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{% static "js/datamaps.world.min.js" %}"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script src="https://d3js.org/d3-zoom.v1.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/MarkerCluster.Default.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/MarkerCluster.css" %}">

<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
<script type="text/javascript" src="{% static "js/leaflet.markercluster.js" %}"></script>

<div id="graph-container">
    <svg xmlns="http://www.w3.org/2000/svg"></svg>
</div>
<div id="map-container">
</div>

<div id="paper-infos">
    <span><b>A Survey on Reactive Programming</b></span>
    <br>
    <span class="tag curr-tag">Reactive programming </span><span class="tag curr-tag">interactive applications</span><span class="tag curr-tag">event-driven</span>
</div>

<script type="text/javascript" src="{% static "js/d3-fun.js" %}"></script>

{% endblock content %}