#paper-infos {
    position: fixed;
    top: 0px;
    background-color: #1A537F; 
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    height: 65px;
}
#paper-infos > span {
    color: #FFFFFF;
    font-size: 16px;
}
.tag {
    padding: 1px 6px;
    color: black !important;
    margin-left: 3px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 3px;
}
.curr-tag {
    background-color: #FFE74C; 
}
.prev-tag {
    background-color: #4CEAFF;
}
.next-tag {
    background-color: #6BF178;
}

.marker {
    width:30px;
    height:30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius:50%;
}

div .marker{
    align-items: center;
    justify-content: center;
    display: flex;
}

.cluster-container {
    display: -webkit-flex;
    flex-direction: row;
}

.top-clust {
    justify-content: center;
    bottom: -4px;
    position: relative;
} 

.cluster{
    background: none;
    border: none;
}

#graph-container, #map-container, #graph-container svg {
    width: 100vw;
    height: calc(100vh - 65px);
}

.filter-box {
    position: absolute;
    background-color: #1A537F;
    bottom: 4%;
    z-index: 1000;
    left: 2%;
    opacity: 0.7;
    width: 43px;
    transition: opacity .5s ease-in-out, box-shadow .5s ease-in-out, width .5s linear;
    box-shadow: none;
    color: white;
    padding: 5px 3px;
}

.filter-box:hover {
    opacity: 1.0;
    width: 180px;
    transition: opacity .5s ease-in-out, box-shadow .5s ease-in-out, width .5s linear;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.legend-container {
    align-items: center;
    display: flex;
    padding: 3px;
}

.map-legend {
    padding-left: 0px;
    width: 0px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    transition: width .5s linear, padding-left 0s linear .5s;
}

.interactive:hover {
    cursor: pointer;
}

.filter-box:hover .map-legend {
    width: 83%;
    padding-left: 5px;
    transition: padding-left 0s, width .5s linear;
}

#graph-container {
    margin-top: 65px;
}
#map-container {

}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
div.tooltip {   
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    position: absolute;         
    text-align: center;         
    width: 360px;                   
    padding: 10px 5px;               
    font: 12px sans-serif;      
    background: #1A537F; 
    border: 0px;        
    border-radius: 3px;         
    pointer-events: none;           
}

.nav_text {
    position: absolute;         
    text-align: center;                        
}